* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 204, 204);
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.main-container {
    margin: 0 auto;
}

.form-registration {
    min-width: 300px;
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
}

.form-registration h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-registration button {
    padding: 0.8rem;
    margin-top: 0.8rem;
    width: 100%;
    color: #fff;
    background-color: rgb(62, 70, 182);
    border: none;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.form-registration button:hover {
    background-color: rgb(63, 46, 128);

}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid white;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    display: block;
    font-size: 0.9rem;
    padding: 0.8rem;
    width: 100%;
}

 
/* The success and error borders. Not gonna lie, this selectors confused me a little,
 but I understand that I'm selecting the child input of the parent that has the two classes */
.input-control.success input {
    border-color: rgb(52, 165, 52);
}

.input-control.error input {
    border-color: rgb(192, 44, 44);
}

/* Red letters for the error */
.input-control .error {
    color: rgb(192, 44, 44);
    font-size: 0.7rem;
    height: 0.9rem;
} 